/* extra info here
*/

/* variables */
$primary-color: #eeeeee;
$body-text: #858d91;
$bg-color: #1c1e1f;
$accent-color: #a6ffdc;
$button-bg: #a6ffdc;
$button-tx: #1c1e1f;
$bg-secondary-color: #333333;
$h1-size: 2.5rem;
$h2-size: 1.5rem;
$button-size: 1rem;
$side-margins: 0 20px;
$button-padding: 4px 12px;

/* repeatable mix-ins */
@mixin flexCenter() {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* mobile-first */

/* base styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $bg-color;
}
h1,
h2,
h3,
p,
li,
button,
a {
  font-family: "Nunito", sans-serif;
  color: $primary-color;
  text-decoration-line: none;
}
ul {
  list-style: none;
  /* li a {
    text-decoration-line: none;
  } */
}
h1 {
  font-size: $h1-size;
}
h2 {
  font-size: $h2-size;
}
button {
  background-color: $button-bg;
  color: $button-tx;
}
/* layout styles */
.navbar_menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4px;
  li {
    margin: 0.5em;
  }
  button {
    border-radius: 4px;
    border: none;
    padding: 0.5em 1em;
    font-size: $button-size;
    font-weight: bold;
  }
}
.header {
  @include flexCenter();
}
.testimonial_wrapper {
  display: flex;
  flex-direction: row;
  margin: 20px;
  p {
    padding-left: 16px;
  }
}
.enrollment {
  @include flexCenter();
  margin: 12px;
}
.contact {
  @include flexCenter();
  margin: 24px 16px;
}
/* block styles */
.header_text {
  h1 {
    padding: 20px 12px 12px;
  }
  h2 {
    margin: $side-margins;
  }
}
.header_video {
  margin: 3em;
  width: 100%;
}
.enrollment_wrapper {
  /*   box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); */
  margin: 16px;
  width: 400px;
  height: 150px;
  @include flexCenter();
  * {
    margin: 4px;
  }
  button {
    border: none;
    border-radius: 4px;
    padding: $button-padding;
    font-weight: bold;
  }
}
.compare {
  @include flexCenter();
  background-color: $bg-secondary-color;
  padding: 40px 0;
  h2 {
    margin: $side-margins;
  }
  button {
    margin: 16px;
    padding: 4px 12px;
    border: none;
    border-radius: 4px;
  }
}
/* meet kenzie grid areas */
.meetkenzie {
  text-align: center;
  padding: 20px 40px;
  margin: $side-margins;
  display: grid;
  grid-template-rows: 1fr 150px 150px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "story    story"
    "team     board"
    "mentors  advisors"
    "students students";
}

.story {
  grid-area: story;
  padding: 20px 20px;
  p {
    display: inline-block;
  }
  a {
    color: $accent-color;
    font-weight: bold;
  }
}
.people_team {
  grid-area: team;
}
.people_board {
  grid-area: board;
}
.people_mentors {
  grid-area: mentors;
}
.people_advisors {
  grid-area: advisors;
}
.students {
  grid-area: students;
  .text {
    padding: 32px;
  }
}
.contact_form {
  margin-top: 20px;
  .contact_form_submit {
    border: none;
    border-radius: 4px;
    background-color: $button-bg;
    color: $button-tx;
    font-size: $button-size;
    padding: $button-padding;
    margin: 8px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
  }
}
/* desktop */

@media (min-width: 750px) {
  /* base styles */
  /* layout styles */
  .enrollment {
    display: flex;
    flex-direction: row;
  }
  .meetkenzie {
    grid-template-rows: 1.5fr 1fr 1.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "story story story story"
      "team board mentors advisors"
      "students students students students";
  }
  .students {
    display: flex;
    align-items: center;
  }
  /* block styles */
}
